backend/inventory/trashcansInventory/src/main/resources/trashcans.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:element name="getTrashcanRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTrashcanResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Trashcan" type="tns:Trashcan"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Trashcan">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="stock" type="xs:int"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="imageUrl" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>